/* =====================
   main.css
   Reset + base globale
   ===================== */
:root {
    --color-primary: #000000;
    --color-secondary: #ffffff;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

/* html et body doivent avoir une hauteur définie
   pour que height: 100% fonctionne dans les enfants */
html, body {
    width: 100dvw;   /* dynamic viewport width  = largeur de l'écran */
    height: 100dvh;  /* dynamic viewport height = hauteur de l'écran */
    overflow: hidden; /* empêche le scroll global */
    font-family: 'Poppins', sans-serif;
}

img {
    -webkit-user-drag: none;
}